@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
body{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  font-family:arial, sans-serif;
  
  background-color: white;
}
#navbar{
  padding:20px;
  margin:0px;
}
#navbar ul{
  display:flex;
  flex-direction: row;
  position:fixed;
  width: 100%;
  background-color:white;
  /* justify-content: baseline; */
  top:0;
  
  align-items: center;
  font-size: 13px;
  margin: 0px;
  padding: 6px 4px 0px 32px;
  justify-content:flex-end; 

}

#navbar a{
  text-decoration:none;
  color:rgba(0,0,0,0.87);
}
#navbar a:hover{
  text-decoration: underline;
}



main{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color: white;
  height:100vh;
}

#footer{
  display:flex;
  flex-direction: row;
  position:fixed;
  width: 100%;
  
  justify-content: baseline;
  bottom:0;
  justify-content:space-between;
  background-color:#f2f2f2;
  color:#70757a;
  font-size: 14px;
}

#footer a{
  text-decoration:none;
  color:rgba(0,0,0,0.87);
}
#footer a:hover{
  text-decoration:underline;
  
}

#footer1{
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  

}

#footer2{
  display:flex;
  flex-direction:row;
  align-items:flex-end;
}

ul {
  text-decoration:none;
  list-style-type: none;
}



li{
  padding: 5px 10px 5px 10px;
}

#sign-in{
  background-color: #1a73e8;
  border-radius: 5px;
  color:white;
  margin:0px 8px;
  padding: 9px 23px;
  font-size: 14px;
}

#sign-in a{
  color:white;
  background-color: #1a73e8;
  padding: 0px 0px;

}
#sign-in:hover{
  background-color:#3583e9;
  
}

#sign-in a:hover{
  background-color:#3583e9;
  text-decoration:none;
}

/* #buttons{
  font-size: 14px;
  background-color: #f8f9fa;
  margin:11px 4px;
  padding: 4px 16px;
} */
.button{
  font-size: 14px;
  background-color: #f8f9fa;
  margin:11px 4px;
  padding: 4px 16px;
  border:none;
  cursor: pointer;

}

.button:hover{
  border: 1px solid #9aa0a6;
  background-color: #f2f2f2;
  border-radius: 3px;
}
#text{
  font-size: 13px;
  

}
#search-box{
  border: 1px solid #9aa0a6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 2.5px 5px 2.5px 5px;
  width:582px;
  height: 44px;

  }
}
/* .search-box{
  border:hidden;
  border-width: 0px;
  outline: none;
  font-size: 24px;
  width:530px;
  height:30px;
} */

span{
  color:#9aa0a6;
}

input[type="text"] {
  width: 530px;
  border:hidden;
  border-width: 0px;
  outline: none;
  font-size: 24px;
  width:530px;
  height:30px;
}